//"cssrem.rootFontSize":40

page-login{
    background: url("./../assets/imgs/bg2.jpg");
    background-size:100% 100%;
	background-repeat:no-repeat;
    .login-content{
        height: 100%;
        font-size: .375rem; 
        .login-box {
            position:absolute;
            left:0;
            top: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            width: 7rem;
            height: 5rem;
            .login-input {                  
                .login-group {
                    margin: 0;
                    padding: 0;
                    height: 1.25rem;
                    border-bottom: 0.025rem solid #ffffff;
                    background: rgba(255, 255, 255, 0.4);    
                    position: relative;                
                    line-height: 1.25rem; 
                    border:0.5px solid rgba(255, 255, 255, 0);                            
                    &:last-child {                     
                        border-bottom-left-radius: 0.3rem;
                        border-bottom-right-radius: 0.3rem;
                        border-top: 0;
                    } 
                    input{
                        margin: 0.25rem 0.375rem 0.25rem 1.875rem;         
                        height: 0.75rem;
                        line-height: 0.75rem;
                        border: 0;
                        background: rgba(255, 255, 255, 0);
                        box-sizing: border-box;     
                    }
                    label{
                        display: block;
                        position: absolute;
                        top:0.25rem;
                        width: 1.5rem;
                        height: 0.75rem;
                        line-height: 0.75rem;
                        text-align: center;
                        border-right: 0.025rem solid#ffffff;
                    }
                    &:first-child {
                        border-bottom:0.025rem solid #ffffff;  
                        border-top-left-radius: 0.3rem;
                        border-top-right-radius: 0.3rem;                
                    }            
                }     
            }
            .login-check{
                height: 0.5rem;
                margin-top: .15rem;
                div{
                    display: block;
                    height: .4rem;
                    line-height: .4rem;
                }
                .left{
                    margin-left: .025rem;
                    float: left;
                }
                .right{
                    margin-right: .025rem;
                    float: right;
                }
                input[type="checkbox"]{
                    height: .4rem;
                    width: .4rem;
                    border: .0125rem solid #ffffff;
                    vertical-align: middle;
                }
                label{
                    font-size: .325rem;
                    vertical-align: middle;
                }
            }
            .login-submit{
                margin-top: 0.4rem;
                button {
                    height: 1.125rem;
                    border-radius: 0.1rem;
                    background: rgba(255, 255, 255, 0.4);
                    width: 100%;
                    font-size: 0.375rem; 
                } 
            }   
        }
    }
}
.bg-ts::after{
    background: rgba(255, 255, 255, 0);
}
.loginLoadingPage{
    background: url('./../assets/imgs/bg3.jpg');
    background-size:100% 100%;
	background-repeat:no-repeat;
}



