page-machine-chart {
    ion-grid{
        ion-row{
            ion-col{           
                background: rgb(20, 180, 33);
                border:.05rem solid #ffffff;
                border-radius: .15rem;
                a{
                    color: #ffffff;
                    font-size: .325rem;
                    height: 100%;
                    span{
                        display: block;
                        border: .025rem solid #ffffff;
                        margin: .125rem .25rem;
                    }
                }
            }
        }
    }
}
