<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"> </ion-icon>
    </button>
    <ion-title>首页</ion-title>
  </ion-navbar>
</ion-header>
<ion-content page-home>
  <ion-row *ngIf="spinner1">
    <ion-col text-center>
      <ion-spinner></ion-spinner>
    </ion-col>
  </ion-row>

  <ion-slides>
    <ion-slide *ngFor="let item of slides" (click)="goDetails(item)">
      <img src="{{item.PictUrl}}" alt="">
      <div class="cover"></div>
      <span class="title">{{item.Title}}</span>
    </ion-slide>
  </ion-slides>


  <div class="categories">
    <ion-grid>
      <ion-row wrap>
        <ion-col text-center tappable col-3 *ngFor="let c of categories" (click)="goProductList(c)">
          <i class="iconfont {{c.Icon}} icon"></i>
          <span class="title">{{c.FavoritesTitle}}</span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-item-divider class="t-header" color="light"> 年会礼服2017年新款 </ion-item-divider>
  <div class="product">
    <ion-row wrap>
      <ion-col tappable col-6 *ngFor="let p of products" (click)="goDetails(p)">
        <img src="{{p.PictUrl}}" alt="" />
        <p>{{p.Title}}</p>
        <div class="list-price buy">
          <span class="price-new">
            <i>￥</i>{{p.ZkFinalPrice}}</span>
          <i class="del">￥
            <span>{{p.ReservePrice}}</span>
          </i>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>