<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>首页</ion-title>
  </ion-navbar>
</ion-header>
<ion-content page-home>
  <ion-row *ngIf="spinner1">
    <ion-col text-center>
      <ion-spinner></ion-spinner>
    </ion-col>
  </ion-row>
  <ion-slides>
    <ion-slide *ngFor="let item of slides" (click)="goDetails(item)">
      <img src="{{item.pictUrl}}" alt="">
      <div class="cover"></div>
      <span class="title">{{item.title}}</span>
    </ion-slide>
  </ion-slides>
  <div class="home-container">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div>
            1
          </div>
        </ion-col>
        <ion-col>
          <div>
            2
          </div>
          <div>
            3
          </div>
        </ion-col>
        <ion-col>
          <div>
            2
          </div>
          <div>
            3
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>