<ion-header>
  <ion-navbar color="primary" hideBackButton="true">
    <button class="menu-button" menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>首页</ion-title>
  </ion-navbar>
</ion-header>
<ion-content page-home>
  <ion-row *ngIf="spinner1">
    <ion-col text-center>
      <ion-spinner></ion-spinner>
    </ion-col>
  </ion-row>
  <ion-slides>
    <ion-slide *ngFor="let item of slides" (click)="goDetails(item)" autoplay="300" >
      <img src="{{item.pictUrl}}" alt="">
      <div class="cover"></div>
      <!-- <span class="title">{{item.title}}</span> -->
    </ion-slide>
  </ion-slides>
  <div class="home-container">
    <ion-grid>
      <ion-row *ngFor="let arr1 of functions">
        <ion-col *ngFor="let arr2 of arr1.childFunc">
          <a *ngFor="let arr3 of arr2.childFunc" (click)="goPage(arr1.page,arr3.index)">
            <em>{{ arr3.moduleName }}</em>
            <ion-icon *ngIf="arr3.icon" name="{{arr3.icon}}"></ion-icon>
          </a>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>