// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/
$vm_fontsize: 40;  // 是$vm_design 值得十分之一
$vm_design: 400; // 根据需要替换成设计稿的值,比如设计稿给你的宽度是360px,
@function rem($px) {
  @return ($px / $vm_fontsize) * 1rem;
}
$action-sheet-ios-button-font-size: rem(20);
$action-sheet-ios-title-font-size: rem(13);
$action-sheet-md-button-font-size: rem(16);
$action-sheet-md-icon-font-size: rem(24);
$action-sheet-md-title-font-size: rem(16);
$action-sheet-wp-button-font-size: rem(15);
$action-sheet-wp-icon-font-size: rem(24);
$action-sheet-wp-title-font-size: rem(20);
$badge-font-size: rem(13);
$button-ios-font-size: rem(16);
$button-ios-large-font-size: rem(20);
$button-ios-small-font-size: rem(13);
$button-ios-small-icon-font-size: rem(13);
$button-md-font-size: rem(14);
$button-md-large-font-size: rem(20);
$button-md-small-font-size: rem(13);
$button-md-small-icon-font-size: rem(14);
$button-wp-font-size: rem(14);
$button-wp-large-font-size: rem(20);
$button-wp-small-font-size: rem(13);
$button-wp-small-icon-font-size: rem(13);
$card-ios-font-size: rem(14);
$card-ios-header-font-size: rem(16);
$card-ios-title-font-size: rem(18);
$card-md-font-size: rem(14);
$card-md-header-font-size: rem(16);
$card-md-title-font-size: rem(24);
$card-wp-font-size: rem(14);
$card-wp-header-font-size: rem(16);
$card-wp-title-font-size: rem(24);
$font-size-base: rem(14);
$font-size-ios-base: $font-size-base;
$font-size-ios-base: $font-size-base;
$font-size-md-base: $font-size-base;
$font-size-md-base: $font-size-base;
$font-size-wp-base: $font-size-base;
$font-size-wp-base: $font-size-base;
$h1-font-size: rem(26);
$h2-font-size: rem(24);
$h3-font-size: rem(22);
$h4-font-size: rem(20);
$h5-font-size: rem(18);
$h6-font-size: rem(16);
$item-ios-body-text-font-size: rem(17);
$item-ios-paragraph-font-size: rem(14);
$item-md-body-text-font-size: rem(14);
$item-md-divider-font-size: $item-md-body-text-font-size;
$item-md-font-size: rem(16);
$item-wp-body-text-font-size: rem(14);
$item-wp-divider-font-size: rem(20);
$item-wp-font-size: rem(16);
$list-ios-header-font-size: rem(12);
$list-md-header-font-size: rem(14);
$list-wp-header-font-size: rem(20);
$searchbar-wp-input-font-size: rem(14);
$segment-button-ios-font-size: rem(13);
$segment-button-ios-toolbar-font-size: rem(12);
$segment-button-md-font-size: rem(12);
$segment-button-wp-font-size: rem(13);
$tabs-ios-tab-min-height:rem(52);   
$tabs-md-tab-font-size: rem(12);
$tabs-md-tab-font-size-active: rem(14);
$tabs-wp-tab-font-size: rem(12);
$toast-ios-title-font-size: rem(14);
$toast-md-title-font-size: rem(15);
$toast-wp-title-font-size: rem(14);
$toolbar-ios-button-font-size: rem(17);
$toolbar-ios-title-font-size: rem(17);
$toolbar-md-height:rem(48);
$toolbar-md-button-font-size: rem(14);
$toolbar-md-title-font-size: rem(18);
$toolbar-wp-button-font-size: rem(14);
$toolbar-wp-title-font-size: rem(15);
$action-sheet-ios-button-min-height: rem(48);
$action-sheet-ios-title-padding: rem(15);
$action-sheet-md-button-min-height: rem(48);
$action-sheet-md-icon-width: rem(23);
$action-sheet-wp-button-height: rem(48);
$action-sheet-wp-icon-width:rem(23);
$alert-wp-input-line-height:rem(30);
$button-ios-margin-bottom: rem(4);
$button-ios-margin-end: rem(2);
$button-ios-margin-start:rem(2);
$button-ios-margin-top: rem(4);
$button-md-height: rem(36);
$button-md-margin-bottom: rem(4);
$button-md-margin-end: rem(2);
$button-md-margin-start:rem(2);
$button-md-margin-top: rem(4);
$button-round-padding-end: rem(26);
$button-wp-height: rem(36);
$button-wp-margin-bottom :rem(4);
$button-wp-margin-end: rem(2);
$button-wp-margin-start: rem(2);
$button-wp-margin-top:rem(4);
$list-ios-header-letter-spacing:rem(1);
$list-md-header-min-height:rem(45);
$searchbar-ios-input-height:rem(30);
$searchbar-md-input-line-height:rem(30);
$searchbar-wp-input-line-height:rem(30);
$segment-button-ios-height: rem(32);
$segment-button-ios-icon-line-height: rem(28);
$segment-button-ios-icon-size: rem(26);
$segment-button-ios-line-height:rem(30);
$segment-button-ios-toolbar-button-height: rem(26);
$segment-button-ios-toolbar-icon-line-height: rem(24);
$segment-button-ios-toolbar-icon-size:rem(22);
$segment-button-ios-toolbar-line-height: rem(25);
$segment-button-md-font-size: rem(12);
$segment-button-md-height: rem(42);
$segment-button-md-icon-size: rem(26);
$segment-button-md-line-height: rem(40);
$segment-button-wp-height: rem(40);
$segment-button-wp-icon-size: rem(26);
$segment-button-wp-line-height: rem(40);
//
//$tabs-ios-tab-font-size:rem(10); 这个会改变字体包裹span的高度
//$tabs-ios-tab-icon-size:rem(20); 这个变更图标大小   
$tabs-md-tab-font-size-active:rem(14);
$tabs-md-tab-icon-size:rem(24);
$tabs-md-tab-min-height:rem(52);
$tabs-wp-tab-icon-size:rem(24);
$text-input-wp-line-height:rem(30);
$toast-ios-border-radius:rem(6.5);
$toast-ios-title-padding-top:rem(15);
$toast-wp-title-padding-top:rem(15);
$segment-button-ios-icon-line-height:rem(28);
$menu-width:rem(320);
$menu-small-width:rem(280);

$content-margin:rem(16);
$content-ios-margin:rem(16);

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222, 
  wihte-black:(
    base: #ffffff, 
    contrast: black
  )
);

/*字体颜色*/


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

//@import "./font-awesome.min.scss"; 

body{
  font-size: .4rem;
}
